<a href="https://colab.research.google.com/github/term1830/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd
import numpy as np

In [3]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-14 13:19:24--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.71M   831KB/s    in 27s

2020-03-14 13:19:52 (818 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [50]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [51]:
url = '/content/LoanStats_2018Q4.csv'
loan_df = pd.read_csv(url)
loan_df.head(3)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title       emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title              zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            60 months  16.14%  243.93      C     C4        Sale Consultant 2 years    RENT           90000      Not Verified        Dec-2018 Fully Paid  n          NaN NaN  debt_consolidation Debt consolidation 079xx    NJ         8.8   0           Mar-1991         1              NaN                    43                     11       1       10582     58.5%      32        w                   0.00      0.00          10661.0577272374 10661.06        10000.00        661.06        0.0                0.0        0.0                     May-2019     9698.79         NaN          Dec-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            15470       1           1           0           1           18                 4888         65      1           3           2969       60       18100            2      0           2            4                    1719        4906           67.3    0                        0           133                333                  2                     2              1        2                    NaN                      1                     NaN                            0                     4              6               5           15        6         8             23            6                   11       0                0            0                  1                  100            80               1                    0         25600           15470             15000          7500                       NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              6500      6500        6500             36 months  11.80%  215.28      B     B4        Educator        2 years    RENT           46500      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation 352xx    AL         21.01 0           Aug-2011         1              61                     NaN                    24       0       6741      41.6%      30        w                   4411.89   4411.89       2792.25          2792.25         2088.11         704.14        0.0                0.0        0.0                     Feb-2020     0.0             Mar-2020     Jan-2020           0                          61                          1           Individual       NaN              NaN       NaN                       0              0            40223       4           12          2           2           5                  33482        97      7           12          3662       79       16200            2      0           4            14                   1749        7694           42.2    0                        0           88                 72                   1                     1              0        3                    NaN                      5                     61                             2                     6              10              6           6         14        11            16            10                  24       0                0            0                  9                  93.3           0                0                    0         50845           40223             13300          34645                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [0]:
loan_df = pd.read_csv('/content/LoanStats_2018Q4.csv', header=1,skipfooter=2,engine='python')

In [53]:
loan_df.head(3)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN

[3 rows x 144 columns]

In [54]:
pd.set_option('display.max_rows',100)
loan_df.isnull().sum().sort_values(ascending=False)

id                                            128284
desc                                          128284
member_id                                     128284
url                                           128284
orig_projected_additional_accrued_interest    128025
                                               ...
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
Length: 144, dtype: int64

In [55]:
loan_df['int_rate'].head(5)

0     16.14%
1     11.80%
2     11.31%
3     14.47%
4     27.27%
Name: int_rate, dtype: object

In [56]:
type(loan_df['int_rate'][3])

str

In [57]:
loan_df['int_rate'][3]

' 14.47%'

In [58]:
test_rate = loan_df['int_rate'][3]
test_rate

' 14.47%'

In [59]:
test_rate.strip('%')

' 14.47'

In [60]:
test_rate.strip().strip('%')

'14.47'

In [61]:
type (float(test_rate.strip().strip('%')))

float

In [0]:
def myfunc(contents):
  return float(contents.strip().strip('%'))

In [63]:
myfunc(test_rate)

14.47

In [0]:
new_list = []

In [0]:
for cell in loan_df['int_rate']:
  new_list.append(myfunc(cell))

In [67]:
new_list[:5]

[16.14, 11.8, 11.31, 14.47, 27.27]

In [68]:
loan_df['int_rate_updated'] = pd.Series(new_list)
loan_df[['int_rate', 'int_rate_updated']].head(5)

  int_rate  int_rate_updated
0   16.14%             16.14
1   11.80%             11.80
2   11.31%             11.31
3   14.47%             14.47
4   27.27%             27.27

In [69]:
loan_df[['int_rate','int_rate_updated']].dtypes

int_rate             object
int_rate_updated    float64
dtype: object

In [70]:
loan_df['int_rate_updated2'] = loan_df['int_rate'].apply(myfunc)
loan_df[['int_rate','int_rate_updated','int_rate_updated2']].head()

  int_rate  int_rate_updated  int_rate_updated2
0   16.14%             16.14              16.14
1   11.80%             11.80              11.80
2   11.31%             11.31              11.31
3   14.47%             14.47              14.47
4   27.27%             27.27              27.27

In [71]:
#Converting term to int

loan_df['term'].unique()

array([' 60 months', ' 36 months'], dtype=object)

In [72]:
loan_df['term'][3]

' 60 months'

In [0]:
test1 = loan_df['term'][3]

In [0]:
def myfunc2(term1):
  return int(term1.strip().strip(' months'))

In [0]:
loan_df['term'] = loan_df['term'].apply(myfunc2)

In [75]:
loan_df['term'].head(5)

0    60
1    36
2    36
3    60
4    60
Name: term, dtype: int64

In [76]:
#New loan column 

loan_df['loan_status'].head(29)

0             Fully Paid
1                Current
2             Fully Paid
3     Late (31-120 days)
4                Current
5                Current
6                Current
7                Current
8             Fully Paid
9             Fully Paid
10               Current
11            Fully Paid
12               Current
13               Current
14            Fully Paid
15            Fully Paid
16            Fully Paid
17               Current
18               Current
19               Current
20            Fully Paid
21           Charged Off
22            Fully Paid
23               Current
24               Current
25               Current
26            Fully Paid
27               Current
28            Fully Paid
Name: loan_status, dtype: object

In [0]:
def good_loan(cell):
  if cell.strip() == 'Current' or cell.strip() == 'Fully Paid':
    return 1
  else:
    return 0

In [0]:
loan_df['loan_status_great'] = loan_df['loan_status'].apply(good_loan)

In [126]:
loan_df['loan_status_great'].head(5)

0    1
1    1
2    1
3    0
4    1
Name: loan_status_great, dtype: int64

In [0]:
loan_df ['loan_status_is_great'] = loan_df['loan_status'].isin(['Current','Fully Paid']).astype(int)

In [84]:
loan_df['loan_status_is_great']

0         1
1         1
2         1
3         0
4         1
         ..
128279    0
128280    1
128281    1
128282    1
128283    1
Name: loan_status_is_great, Length: 128284, dtype: int64

In [85]:
#new date columns

date_list = [colm for colm in loan_df.columns if colm.endswith('_d')]
date_list

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [86]:
loan_df['last_pymnt_d']

0         May-2019
1         Feb-2020
2         Feb-2019
3         Oct-2019
4         Feb-2020
            ...
128279    Dec-2018
128280    Feb-2020
128281    Feb-2020
128282    Feb-2020
128283    Feb-2020
Name: last_pymnt_d, Length: 128284, dtype: object

In [88]:
type (loan_df['last_pymnt_d'][1])

str

In [89]:
loan_df['last_pymnt_d'].unique()

array(['May-2019', 'Feb-2020', 'Feb-2019', 'Oct-2019', 'Dec-2019',
       'Jul-2019', 'Sep-2019', 'Aug-2019', 'Apr-2019', 'Jan-2020',
       'Jan-2019', 'Jun-2019', 'Mar-2019', 'Nov-2019', nan, 'Dec-2018',
       'Nov-2018', 'Oct-2018'], dtype=object)

In [90]:
loan_df['last_pymnt_d_dated'] = pd.to_datetime(loan_df['last_pymnt_d'], infer_datetime_format=True)

loan_df[['last_pymnt_d_dated', 'last_pymnt_d']]

       last_pymnt_d_dated last_pymnt_d
0              2019-05-01     May-2019
1              2020-02-01     Feb-2020
2              2019-02-01     Feb-2019
3              2019-10-01     Oct-2019
4              2020-02-01     Feb-2020
...                   ...          ...
128279         2018-12-01     Dec-2018
128280         2020-02-01     Feb-2020
128281         2020-02-01     Feb-2020
128282         2020-02-01     Feb-2020
128283         2020-02-01     Feb-2020

[128284 rows x 2 columns]

In [141]:
loan_df['last_pymnt_d_year'] = loan_df['last_pymnt_d_dated'].dt.year
loan_df['last_pymnt_d_year'].head(5)

0    2019
1    2020
2    2019
3    2019
4    2020
Name: last_pymnt_d_year, dtype: int64

In [145]:
loan_df['last_pymnt_d_month'] = loan_df['last_pymnt_d_dated'].dt.month
loan_df['last_pymnt_d_month'].head(5)

0     5
1     2
2     2
3    10
4     2
Name: last_pymnt_d_month, dtype: int64

In [0]:
loan_df['last_pymnt_d_month'].isnull().sum()

159

In [144]:
loan_df['last_pymnt_d_month_test'] = loan_df['last_pymnt_d_month']
loan_df['last_pymnt_d_month_test'].head()

0     5.0
1     2.0
2     2.0
3    10.0
4     2.0
Name: last_pymnt_d_month_test, dtype: float64

In [0]:
loan_df = loan_df.dropna(subset=['last_pymnt_d_year', 'last_pymnt_d_month'])

In [147]:
loan_df['last_pymnt_d_year']

0         2019
1         2020
2         2019
3         2019
4         2020
          ...
128279    2018
128280    2020
128281    2020
128282    2020
128283    2020
Name: last_pymnt_d_year, Length: 128125, dtype: int64

In [146]:
loan_df['last_pymnt_d_month']

0          5
1          2
2          2
3         10
4          2
          ..
128279    12
128280     2
128281     2
128282     2
128283     2
Name: last_pymnt_d_month, Length: 128125, dtype: int64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [42]:
loan_df[1:2]

   id  member_id  ...  last_pymnt_d_dated  last_pymnt_d_year
1 NaN        NaN  ...          2020-02-01         2020-02-01

[1 rows x 148 columns]

In [43]:
loan_df['revol_util'].head(5)

0    58.5%
1    41.6%
2    15.3%
3    45.7%
4    10.7%
Name: revol_util, dtype: object

In [48]:
loan_df['revol_util'].isnull().sum()

156

In [0]:
loan_df['test_util'] = loan_df['revol_util']

In [110]:
loan_df['revol_util']

In [0]:
def myfunc4(contents):
  if isinstance(contents, float):
    return 0
  else:
    return float(contents.strip('%'))

In [0]:
loan_df['test_util'] = loan_df['revol_util'].apply(myfunc4)

In [130]:
loan_df['test_util'].head()

0    58.5
1    41.6
2    15.3
3    45.7
4    10.7
Name: test_util, dtype: float64

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01